torch==2.1.0 
torchvision==0.16.0 
torchaudio==2.1.0 --index-url https://download.pytorch.org/whl/cu121
diffusers==0.27.2
einops==0.8.0
gradio==5.7.1
huggingface_hub==0.25.2
imageio==2.36.0
imageio-ffmpeg==0.5.1
mediapipe==0.10.18
moviepy==1.0.3
omegaconf==2.3.0
open3d==0.18.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
peft==0.13.2
rembg==2.0.59
transformers==4.46.2
triton==2.1.0
xformers==0.0.22.post7
